<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="_parts/meta/head::htmlhead(~{::title})">
    <meta charset="UTF-8">
    <title>スレッド新規投稿</title>
</head>
<body>
<header th:replace="_parts/material/header::default"></header>
<main class="container mt-5">
    <article>
        <form action="#" method="post">
            <section class="d-flex flex-column">
                <ul class="list-inline-item">
                    <label for="post-title">スレッドタイトル</label>
                    <input class="form-control" id="post-title" type="text">
                </ul>
                <ul class="list-inline-item">
                    <label for="post-user">ユーザー名</label>
                    <input class="form-control" id="post-user" type="text">
                </ul>
                <ul class="list-inline-item">
                    <label for="post-email">E-mail</label>
                    <input class="form-control" id="post-email" placeholder="you@email.com" type="email">
                </ul>
                <ul class="list-inline-item">
                    <label for="post-content">本文</label>
                    <textarea class="form-control" id="post-content" placeholder="" rows="10"></textarea>
                </ul>
                <div class="d-grid gap-2 col-10 mx-auto my-5">
                    <input class="btn btn-primary btn-lg" type="submit" value="新規スレッド作成">
                </div>
            </section>
        </form>
    </article>
</main>
<footer th:replace="_parts/material/footer :: default"></footer>
</body>
</html>