<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="_parts/meta/head::htmlhead(~{::title})">
    <title>トップページ</title>
</head>
<body>
<header th:replace="_parts/material/header :: default"></header>
<main class="container">
    <h1>スレッド一覧</h1>
    <section>
        <ul th:each="headline : ${headlines.asList()}">
            <li>
                <div>
                    <h3><a th:href="@{thread/{threadNumber}(threadNumber=${headline.threadNumber.value})}"
                           th:text="${headline.threadTheme.threadTitle.value}">見出しタイトル</a></h3>
                    <p th:text="${headline.threadTheme.threadTitle.value}">見出し本文</p>
                </div>
                <aside>
                    <ul>
                        <li hidden th:text="${headline.threadNumber.value}">スレッド番号</li>
                        <li th:text="${headline.threadTheme.threadOwner.value}">投稿者</li>
                        <li th:text="${headline.threadCreatedTime.value}">投稿日時</li>
                        <li>スレッド数: 10件ぐらい</li>
                    </ul>
                </aside>
            </li>
        </ul>
    </section>
    <footer th:replace="_parts/material/footer :: default"></footer>
</main>
</body>
</html>