<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="_parts/meta/head::htmlhead(~{::title})">
    <title>スレッド</title>
</head>
<body>
<main class="container">
    <header>ヘッダーメニュー</header>
    <section th:object="${thread}">
        <aside>
            <ul>
                <li th:text="${thread.responses().firstResponse().resOrder().value()}">投稿順序</li>
                <li>投稿者: <span th:text="${thread.threadTheme.threadOwner.value}"></span></li>
                <li>
                    最終投稿日時:
                    <time><span th:text="${thread.responses().latestPostTime()}"></span></time>
                </li>
            </ul>
            <div>
                <ul>
                    <li>投稿数: <span th:text="${thread.responses().count()}"></span></li>
                    <li>スレッド作成日時: <span th:text="${thread.responses().firstPostTime()}"></span></li>
                </ul>
            </div>
        </aside>
        <div>
            <h2 th:text="${thread.threadTheme().threadTitle().value()}"></h2>
            <p th:text="${thread.responses().firstResponse().original().originalMessage().value()}">お題の説明</p>
        </div>
    </section>
    <hr>
    <section>
        <section th:each="response : ${thread.responses().asList()}">
            <aside>
                <ul>
                    <list th:text="${response.resOrder().value()}">投稿順序</list>
                    <li>投稿者: <span th:text="${response.responseOwner().value()}"></span></li>
                    <li>
                        <time>投稿日時: <span th:text="${response.postTime().show()}"></span></time>
                    </li>
                </ul>
            </aside>
            <div>
                <p th:text="${response.original().originalMessage().value()}">レスポンス本文</p>
            </div>
        </section>
    </section>
</main>
</body>
</html>