<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="_parts/meta/head::htmlhead(~{::title})">
    <title>スレッド</title>
</head>
<body>
<main class="container">
    <header>ヘッダーメニュー</header>
    <section th:object="${thread}">
        <aside>
            <ul>
                <li th:text="${1}">投稿順序</li>
                <li th:text="${thread.threadTheme.threadOwner.value}">投稿者名</li>
                <li>
                    <time><span>最終投稿日時</span></time>
                </li>
            </ul>
            <div>
                <ul>
                    <li>投稿数</li>
                    <li><span></span>最終投稿日時</li>
                </ul>
            </div>
        </aside>
        <div>
            <h2>お題タイトル</h2>
            <p>お題の説明</p>
        </div>
    </section>
    <section>
        <aside>
            <ul>
                <li>投稿順序</li>
                <li>投稿者名</li>
                <li>
                    <time><span>投稿日時</span></time>
                </li>
            </ul>
        </aside>
        <div>
            <p>レスポンス</p>
        </div>
    </section>
</main>
</body>
</html>