<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ex.i18nbbs.infrastructure.datasource.thread.ThreadMapper">


    <select id="findOne" resultType="ex.i18nbbs.domain.model.thread.Thread">
        SELECT
            t.thread_id AS "threadNumber.value"
          , tt.title AS "threadTheme.threadTitle.value"
          , tt.title_owner AS "threadTheme.threadOwner.value"
        FROM
            chat.thread t
                INNER JOIN chat.thread_theme tt
                    ON t.thread_id = tt.thread_id
        WHERE
            t.thread_id = #{threadNumber.value}
    </select>

    <resultMap id="findThread" type="ex.i18nbbs.domain.model.thread.Thread">
        <id property="threadNumber.value" column="threadNumber.value"/>
        <association property="threadTheme" javaType="ex.i18nbbs.domain.model.thread.title.ThreadTheme"
                     select="findThreadTheme" column="threadNumber.value">
            <result property="threadTitle.value" column="threadTitle.value"/>
            <result property="threadOwner.value" column="threadOwner.value"/>
        </association>
        <collection property="responses.list" ofType="ex.i18nbbs.domain.model.response.Response">
            <result property="responseNumber.value" column="responseNumber.value"/>
            <result property="responseOrder.value" column="responseOrder.value"/>
            <result property="responseOwner.value" column="responseOwner.value"/>
            <result property="postTime.value" column="postTime.value"/>
            <result property="original.originalNumber.value" column="original.originalNumber.value"/>
            <result property="original.originalMessage.value" column="original.originalMessage.value"/>
        </collection>
    </resultMap>

    <select id="findThread" resultMap="findThread">
        SELECT
            r.thread_id AS "threadNumber.value"
          , r.response_id AS "responseNumber.value"
          , r.response_order AS "responseOrder.value"
          , r.response_owner AS "responseOwner.value"
          , r.created_at AS "postTime.value"
          , om.original_message_id AS "original.originalNumber.value"
          , om.original_message AS "original.originalMessage.value"
        FROM
            chat.response r
                INNER JOIN chat.original_message om
                    ON r.response_id = om.response_id
        WHERE
            r.thread_id = #{threadNumber.value}
    </select>

    <select id="findThreadTheme" resultType="ex.i18nbbs.domain.model.thread.title.ThreadTheme">
        SELECT
            tt.title AS "threadTitle.value"
          , tt.title_owner AS "threadOwner.value"
        FROM
            chat.thread_theme tt
        WHERE
            tt.thread_id = #{threadNumber.value}
    </select>

<!--    TODO このresultMapは不要なので削除する.-->
    <resultMap id="findHeadlines" type="ex.i18nbbs.domain.model.thread.headline.Headline">
        <id property="threadNumber.value" column="threadNumber.value"/>
        <result property="threadTheme.threadTitle.value" column="threadTheme.threadTitle.value"/>
        <result property="threadTheme.threadOwner.value" column="threadTheme.threadOwner.value"/>
        <result property="threadCreatedTime.value" column="threadCreatedTime.value"/>
        <result property="response.responseNumber.value" column="response.responseNumber.value"/>
        <result property="response.responseOrder.value" column="response.responseOrder.value"/>
        <result property="response.responseOwner.value" column="response.responseOwner.value"/>
        <result property="response.postTime.value" column="response.postTime.value"/>
        <result property="response.original.originalNumber.value" column="response.original.originalNumber.value"/>
        <result property="response.original.originalMessage.value" column="response.original.originalMessage.value"/>
    </resultMap>

    <select id="findHeadlines" resultMap="findHeadlines">
        SELECT
            tt.thread_id AS "threadNumber.value"
          , tt.title AS "threadTheme.threadTitle.value"
          , tt.title_owner AS "threadTheme.threadOwner.value"
          , tt.created_at AS "threadCreatedTime.value"
          , r.response_id AS "response.responseNumber.value"
          , r.response_order AS "response.responseOrder.value"
          , r.response_owner AS "response.responseOwner.value"
          , r.created_at AS "response.postTime.value"
          , om.original_message_id AS "response.original.originalNumber.value"
          , om.original_message AS "response.original.originalMessage.value"
        FROM
            chat.thread_theme tt
                INNER JOIN chat.response r
                    ON tt.thread_id = r.thread_id
                INNER JOIN chat.original_message om
                    ON r.response_id = om.response_id
        WHERE
            r.response_order = 1
    </select>

    <insert id="newThread">
    </insert>

</mapper>