<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ヘッダー</title>
</head>
<body>
<header class="container-fluid bg-white box-shadow shadow-sm rounded px-0" th:fragment="default">
    <div class="d-flex flex-column flex-md-row align-items-center flex-md-row justify-content-between p-2 px-3 mb-3 border-bottom">
        <figure class="mx-1 my-0 py-2 mr-md-auto">
            <a href="#" th:href="@{/}" class="text-dark"><h5 class="font-weight-normal">i18n-BBS</h5></a>
        </figure>
        <section class="d-flex">
            <nav class="p-1 my-2 mr-md-3">
                <a class="p-2 text-dark" href="#">最新</a>
                <a class="p-2 text-dark" href="#">注目</a>
                <a class="p-2 text-dark" href="#">言語</a>
            </nav>
            <a class="ml-3 mr-1 my-2 mb-1 mr-md-3 btn btn-outline-primary" href="#">スレッド投稿</a>
        </section>
    </div>
</header>
</body>
</html>